{{ define "home-content" }}
<section class="intro">
    <h2 class="section-title">> Home</h2>
    <h2 class="intro-text">
        Hello, my name is<br>
        <span class="highlight">Evan Scott </span> and this
        is my site!
    </h2>
    <p class="intro-description">
        I am a Student at Toronto Metropolitan University, and I'm currently
        studying Computer Science with minors in Economics and Philosophy. I
        have work experience scaling infrastructure at startups 
        and am currently working on automation at Fidelity Investments Canada.
        
    </p>
   
    <div class="social-links">
        <a href="https://github.com/evan3v4n" class="social-link">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://linkedin.com/in/evan-cs" class="social-link">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</section>

<section class="recent-photography">
    <h2 class="section-title">> Recent Photography</h2>
    <div class="photo-grid">
        <div class="photo-item">
            <img src="/images/photography/recent1.jpg" alt="Recent Photo 1">
            <div class="photo-overlay">
                <span class="photo-name">Recent Photo 1</span>
            </div>
        </div>
        <div class="photo-item">
            <img src="/images/photography/recent2.jpg" alt="Recent Photo 2">
            <div class="photo-overlay">
                <span class="photo-name">Recent Photo 2</span>
            </div>
        </div>
        <div class="photo-item">
            <img src="/images/photography/recent3.jpg" alt="Recent Photo 3">
            <div class="photo-overlay">
                <span class="photo-name">Recent Photo 3</span>
            </div>
        </div>
    </div>
</section>
{{ end }} 