{{ define "content" }}
<section class="photography-intro">
    <h2 class="section-title">> Photography</h2>
    <p class="section-description">
        Here are some of my favorite photos I've taken.
    </p>
</section>

<div class="photo-grid">
    {{range .Photos}}
    <div class="photo-item">
        <img src="{{.URL}}" alt="{{.Description}}">
        <div class="photo-overlay">
            <span class="photo-name">{{.Description}}</span>
        </div>
    </div>
    {{end}}
</div>
{{ end }} 